.character-image{
  margin: auto;
  border: 6px solid rgba(166, 145, 0, 0.75);
  border-radius: 20px;
}

.heroDetails{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.text {
  color: aliceblue;
  max-width: 65%;
}
