body {
  width: 100%;
  margin: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(
    to bottom,
    #763fd5 0%,
    #071672 100%
  );
  background-attachment:fixed;
}

.page-container {
  max-width: 1200px;
  margin: 3% auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
}

@media (max-width: 768px) {
  .app-container {
    padding: 10px;
  }
}