body {
  margin: 0;
  font-family: "Arial", sans-serif;
}
.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.home-container {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .app-container {
    padding: 10px;
  }
}

.super-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 200px; 
}