/* SKELETON */
.skeleton-container {
  display: flex;
  justify-content: column;
  align-items: center;
  position: relative;
  display: flex;
  width: 350px;
  height: 400px;
  padding: 20px;
  margin: auto;
}
.skeleton-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
  width: 350px;
  height: 400px;
  padding: 20px;
  margin: auto;
}

.skeleton-card-container-image {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 100px;
  border: 6px solid rgba(114, 114, 111, 0.75);
  background-color: rgba(114, 114, 111, 0.75);
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
  3px 5px 15px 5px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 10px 13px -7px #000000, 3px 5px 15px 5px rgba(0, 0, 0, 0.34);
}

.skeleton-card-content {
  height: 10px;
  width: 35%;
  position: absolute;
  bottom: 0;
  padding: 25px;
  border-radius: 100px;
  border: 6px solid rgba(114, 114, 111, 0.75);
  background-color: grey;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    3px 5px 15px 5px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 10px 13px -7px #000000, 3px 5px 15px 5px rgba(0, 0, 0, 0.34);
  z-index: 1;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
